<span ng-controller="interfaceCtrl">

<div class="aui-page-panel-inner">
	<!--  Left navigation sidebar -->
	<div class="aui-page-panel-nav">
		<nav class="aui-navgroup aui-navgroup-vertical">
			<ul class="aui-nav">
				<li><a href="">Users</a></li>
				<li><a href="">Groups</a></li>
				<li><a href="">Projects</a></li>
				<li class="aui-nav-selected"><a href="">{{app.shortTitle}}</a></li>
			</ul>
		</nav>
	</div>

	<!--		Main body		-->
	<section class="aui-page-panel-content">
		<h2 ng-init="showHelp===false" ng-show="!showHelp">{{app.title}} <span class="aui-icon aui-icon-small aui-iconfont-info helpIcon" ng-click="showHelp=!showHelp"></span></h2>

		<!-- Help text -->
		<div class="aui-help aui-help-text" ng-show="showHelp">
			<div class="aui-help-content">
				<p style="margin: 5px 0 0 0;">Report help text.</p>
				<ul class="aui-nav-actions-list" style="">
					<li><a href="" ng-click="showHelp=!showHelp">Dismiss</a></li>
					<li><a href="#">Learn more [documentation link needed]</a></li>
				</ul>
			</div>
		</div>
		<h2 style="border-top: 1px solid #ccc;padding-top: 20px;margin-top: 20px;" ng-show="showHelp" >{{app.title}} <span class="aui-icon aui-icon-small aui-iconfont-info helpIcon helpActive" ng-click="showHelp=!showHelp"></span></h2>
		<p>{{app.description}}</p>

		<!--  
			Insert content for body here
		-->
		<div ng-repeat="entry in model.entries">{{entry.name}}</div>
	</section>


	<!-- Right toggle sidebar, open with 'ng-click="toggleRightSidebar()"' -->
	<div class="rightSidebar" ng-show="rightSidebarOpen">
		<h4 class="inline">{{app.rightSidebarTitle}}</h4>
		<span class="aui-icon aui-icon-small aui-iconfont-close-dialog closeRightSidebar" ng-click="toggleRightSidebar()">Close</span>
		<!--
			Enter awesome content for right sidebar here
		-->
	</div>

</div>
</span>
